@import url(//fonts.googleapis.com/css?family=Lato:300,700,300italic);


/***********************Layout****************************/

@media screen and (max-width: 399px) {
    html {
        font-size: 13pt;
    }
    body {
        max-width: 400px;
    }
}

@media screen and (max-width: 1399px) and (min-width: 400px) {
    html {
        font-size: 13pt;
    }
    body {
        max-width: 100vw;
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 15pt;
    }
}

@media print {
    html {
        font-size: 10pt;
    }

    .masthead {
        border-width: 0px;
    }

    .no-print {
        display: none;
    }
}

@media only screen and (max-device-width: 480px) {
    .masthead {
        border-right: 0px;
        border-left: 0px;
    }
}


/**********************Font and layout********************/

body {
  width: 37.5em;
  padding: 0 0.75em;
  margin: 0 auto;
  font-family: Lato, Verdana, sans-serif;
  color: black;
  line-height: 1.5;
  font-style: normal;
  min-height: 80em;
}

h1 {
  font-size: 2em
  color: black;
  margin: 1.2rem 0px;
}

h2 {
  font-size: 1em
  color: blue;
  font-style: normal;
  margin: 1.2rem 0px;
}

p {
    margin: 1em 0px;
}


/**********************TITLE BAR**************************/
.masthead {
    background-color: #CCC;
    margin: 0 -1.125em 1.5em -1.125em;
    padding: 0.75em 1.125em;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
}

.site-title {
    font-size: 3em;
    line-height: 1;
    padding-bottom: 0.45ex;
    margin: 0px;
    font-weight: bold;
}

.masthead ul.nav {
    margin: 0px 0.25em;
    padding: 0px;
    list-style-type: none;
    line-height: 1.2;
}

.masthead .nav li {
    margin: 0px;
    display: inline-block;
    padding: 0em 1.6em 0em 0em;
}


/* Change color on hover/mouse-over */
.masthead a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}
