---
layout: default
---

{% assign latest = site.posts[0] %}

<h1 style="color:grey;">
    Latest post
</h1>

<h1>
    {{ latest.title}}
</h1>
<p style="color:grey;">
    {{ latest.date | date: "%B %-d, %Y" }}
</p>
<hr style="border-top:grey;">
{{ latest.content }}
<br>

{% assign previous = site.posts[1] %}
<a href="{{ previous.url }}" class="previous">Next post &raquo</a>
<br />

<hr style="border-top:grey;">

<p style="color:grey;" >
    For a complete list of posts, check out the <a href="{{ "/archive" | relative_url }}">archive</a>
</p>
