<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href={{ "/assets/style.css" | relative_url }}>
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="description" content="Ross Warren's personal website.">
    </head>

    <header class="masthead">
        <h1 class="site-title">
            <a style="text-decoration:none; color:black;" href={{ "/index" | relative_url }}>peregrinescode</a>
        </h1>
        <nav>
            <ul class="nav">
            {% for link in site.data.navigation %}
                <li><a style="text-decoration:none;" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </header>

    <h1>
        {{ page.title }}
    </h1>

    <body>
         {{ content }}
    </body>