<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={{ "/assets/style.css" | relative_url }}>
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="description" content="Ross Warren's personal website.">
    </head>

    <header class="masthead">
        <h1 class="site-title">
            <a style="text-decoration:none; color:black;" href={{ "/index" | relative_url }}>peregrinescode</a>
        </h1>
        
        <!-- Top Navigation Menu -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{{ base.url | prepend: site.url }}/assets/js/mobile-nav.js"></script>

        <div class="topnav" id="myTopnav">
            {% for link in site.data.navigation %}
                <a style="text-decoration:none;" href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>

        <!-- OLD MENU <nav>
            <ul class="nav">
            {% for link in site.data.navigation %}
                <li><a style="text-decoration:none;" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            </ul>
        </nav> -->

    </header>

    <h1>
        {{ page.title }}
    </h1>

    <body>
         {{ content }}
    </body>







